* {
    margin: 0;
    padding: 0;
    cursor: url(../images/puntero10.cur), auto;
}

body{
    margin: 0;
    font-family: 'Staatliches', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background: #eaeff4;
}



.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}
.login .col-left,
.login .col-right{
    padding: 30px;
    display: flex;
}
.login .col-left{
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0 );
    background: #FCE14B;
}
.login .col-right{
    padding: 60px 30px;
    width: 50%;
    margin-left: -10%;
}

@media(max-width: 575px){
    .login .container{
        flex-direction: column;
        box-shadow: none;
    }
    .login .col-left,
    .login .col-right{
    width: 100%;
    margin: 0;
    clip-path: none;
    }
    .login .col-right{
        padding: 30px;
    }

    
}


.login .login-text{
    position: relative;
    width: 100%;
    color: #000;
}
.login .login-text h2{
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}
.login .login-text p{
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.login .login-text .btn{
    display: inline-block;
    font-family: poppins;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #fe2dc5;
    outline: none;
    border: 1px solid #000;
    box-shadow: inset 0 0 0 0 #000;
    transition: .3s;
}
.login .login-text .btn:hover{
    color: #fe2dc5;
    box-shadow: inset 150px 0 0 0  #ffffff;
}


.login .login-form{
    position: relative;
    width: 100%;
}
.login .login-form h2{
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}
.login .login-form p{
    margin: 0 0 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}
.login .login-form p:last-child{
    margin: 0;
    padding-top: 3px;
}
.login .login-form p a{
    color: #fe2dc5;
    font-size: 14px;
    text-decoration: none;
}
.login .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}
.login .login-form p:last-child label{
    width: 60%;
    float: left;
}
.login .login-form label span{
    color: #fe2dc5;
    padding-left: 2px;
}
.login .login-form input{
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}
.login .login-form input:focus{
    border-color: #fe2dc5;
}
.login .login-form button,
.login .login-form input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #fe2dc5;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #FCE14B;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #FCE14B;
    transition: .3s;
}
.login .login-form button:hover,
.login .login-form input[type=submit]:hover{
    color: #000;
    box-shadow: inset 250px 0 0 0 #FCE14B;
}

/* Animation two */

.textSlide{
    display:flex;
    align-items:center;
    font-family:BEBAS;
    flex-direction:column;
    height:100vh;
    font-size:6rem;
    
    -webkit-text-fill-color: white;
    -webkit-animation: fill 0.1s infinite alternate;
    background:black;
    width:100vw;
    overflow-x:hidden;
    justify-content:center;
  }
  
  .right{
    width:fit-content;
    white-space:nowrap;
    animation: example 12s linear 1s infinite;
  }
  .left{
    width:fit-content;
    white-space:nowrap;
    animation: example2 15s linear 1s infinite;
  }
  
  @keyframes example2 {
    0% {      
      margin-right:0%;
      opacity:0%;
   }
    10%{
      opacity:100%;
    }
    90%{
      opacity:100%;
    }
    100% {
      margin-right:-100%;
      opacity:0%;
   }
  }
  @keyframes example {
    0% {      
      margin-left:0%;
      opacity:0%;
   }
    10%{
      opacity:100%;
    }
    90%{
      opacity:100%;
    }
    100% {
      margin-left:-100%;
      opacity:0%;
   }
  }
  